<div class="row">
    <h1 class="text-center">Cadastro de Turma</h1>
    <div class="col-6">
        <label id="lbNome">Nome</label>
        <input type="text" id="nome" class="form-control" aria-describedby="lbNome" placeholder="Nome da turma">
    </div>
    <div class="col-6">
        <label id="lbAno">Ano</label>
        <select id="ano" class="form-control" aria-describedby="lbAno">
            <option disabled selected>Selecione o Ano</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
        </select>
    </div>
    <div class="col-12">
        <a class="btn btn-primary float-end" id="btCadTurma">Cadastrar Turma</a>
    </div>
</div>